/**************
* definitions *
**************/

/* faces */

$tr-fancy-font: 'Palatino', 'Garamond', serif;
$tr-font: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$tr-monospace-font: 'Courier New', monospace;

/* colors */

$tr-light-grey: #cacaca;
$tr-grey: #828282;
$tr-dark-grey: #424242;
$tr-black: #000;

/* mobile text sizes */

$tr-hero-mobile: 44pt;
$tr-h1-mobile: 38pt;
$tr-h2-mobile: 32pt;
$tr-h3-mobile: 27pt;
$tr-h4-mobile: 24pt;
$tr-h5-mobile: 21pt;
$tr-text-mobile: 15pt;
$tr-note-mobile: 13pt;
$tr-note-font-mobile: 200 $tr-note-mobile $tr-font;

/* desktop text sizes */

$tr-hero-desktop: 40pt;
$tr-h1-desktop: 34pt;
$tr-h2-desktop: 28pt;
$tr-h3-desktop: 23pt;
$tr-h4-desktop: 20pt;
$tr-h5-desktop: 17pt;
$tr-text-desktop: 13pt;
$tr-note-desktop: 11pt;
$tr-note-font-desktop: 200 $tr-note-desktop $tr-font;

/****************
* text elements *
****************/

.hero {
	color: $tr-black;
	font: 200 $tr-hero-mobile $tr-fancy-font;
}

$h1-font-desktop: 200 $tr-h1-desktop $tr-fancy-font;
$h1-font-mobile: 200 $tr-h1-mobile $tr-fancy-font;
h1 {
	color: $tr-black; 
	font: $h1-font-mobile;
}

$h2-font-desktop: 200 $tr-h2-desktop $tr-fancy-font;
$h2-font-mobile: 200 $tr-h2-mobile $tr-fancy-font;
h2 {
	color: $tr-black; 
	font: $h2-font-mobile;
}
h3 {
	color: $tr-black; 
	font: 100 $tr-h3-mobile $tr-fancy-font;
}
h4 {
	color: $tr-black; 
	font: 100 $tr-h4-mobile $tr-fancy-font;
	font-style: italic;
}
h5 {
	color: $tr-black; 
	font: 100 $tr-h5-mobile $tr-fancy-font;
	font-style: italic;
}
$tr-text-font-mobile: lighter $tr-text-mobile $tr-font;
$tr-text-font-desktop: lighter $tr-text-desktop $tr-font;
.text, ul {
	color: $tr-black; 
	font: $tr-text-font-mobile;
}

@media only screen and (min-width: 500px) {
	.hero { font-size: $tr-hero-desktop; }
	h1 { font: $h1-font-desktop; }
	h2 { font: $h2-font-desktop; }
	h3 { font-size: $tr-h3-desktop; }
	h4 { font-size: $tr-h4-desktop; }
	h5 { font-size: $tr-h5-desktop; }
	.text, ul { font: $tr-text-font-desktop; }
}

/***************************
* other top-level elements *
***************************/

a {
	color: $tr-black;
	text-decoration: underline;
}

/*
* monospace and code snippets
*/

.highlighter-rouge {
	color: #333;
	font: heavier $tr-text-mobile $tr-monospace-font;
	background-color: #eee;
	padding: 0px 3px 0px 3px;
}
@media only screen and (min-width: 500px) {
	.highlighter-rouge {
		font: heavier $tr-text-desktop $tr-monospace-font;
	}
}

/*****************
* other elements *
*****************/

.caption {
	color: $tr-grey; 
	font: italic 10pt $tr-font;
}

.footnote {
	color: $tr-black; 
	font: 100 10pt $tr-font;
}

/*********
* layout *
*********/

.hanging-indent {
	/* vvv hanging indentation css thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
	padding-left: 20px;
	text-indent: -20px;
	/* ^^^ thanks to https://www.thesitewizard.com/css/hanging-indents.shtml */
}
