@import url('https://fonts.googleapis.com/css?family=Raleway:100,300');

$tr-fancy-font: 'Raleway', sans-serif;
$tr-font: sans-serif;
$tr-monospace-font: 'Courier New', monospace;

$tr-light-grey: #cacaca;
$tr-grey: #828282;
$tr-dark-grey: #424242;

a {
	color: $tr-grey;
}

body {
	margin: 50px;
}

h1 {
	color: $tr-grey; 
	font: 300 24pt $tr-fancy-font;
}

h2 {
	color: $tr-grey; 
	font: 300 20pt $tr-fancy-font;
}

h3 {
	color: $tr-light-grey; 
	font: 300 18pt $tr-fancy-font;
}

.text, ul {
	color: $tr-grey; 
	font: 12pt $tr-font;
}

.code {
	color: $tr-grey;
	font: 12pt monospace;
	background-color: #eeeeee;
}

.caption {
	color: $tr-grey; 
	font: italic 10pt $tr-font;
}

.footnote {
	color: $tr-grey; 
	font: 100 10pt $tr-font;
}
