$tr-fancy-font: 'Palatino', 'Garamond', serif;
$tr-font: 'Verdana', 'Helvetica', 'Arial', sans-serif;
$tr-monospace-font: 'Courier New', monospace;

$tr-light-grey: #cacaca;
$tr-grey: #828282;
$tr-dark-grey: #424242;
$tr-black: #000;

a {
	color: $tr-black;
	text-decoration: underline;
}

.hero {
	color: $tr-black;
	font: 200 35pt $tr-fancy-font;
}

h1 {
	color: $tr-black; 
	font: 300 28pt $tr-fancy-font;
}

h2 {
	color: $tr-black; 
	font: 200 23pt $tr-fancy-font;
}

h3 {
	color: $tr-black; 
	font: 100 18pt $tr-fancy-font;
}

h4 {
	color: $tr-black; 
	font: 100 16pt $tr-fancy-font;
	font-style: italic;
}

.text, ul {
	color: $tr-black; 
	font: lighter 13pt $tr-font;
}

.highlighter-rouge {
	color: #800;
	font: lighter 12pt $tr-monospace-font;
	background-color: #eee;
	padding: 0px 3px 0px 3px;
}

#page-content { /* div containing everything after the header */
	margin: 20px 5px 0px 5px;
	@extend .text;
}

/* thanks to: https://stackoverflow.com/a/16326442/4789448 */
blockquote {
	@extend .text;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    position: relative;
    color: #383838;
}

blockquote:before {
	font-family: serif;
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}
/* end thanks to: https://stackoverflow.com/a/16326442/4789448 */

/* 500 or below */
@media only screen and (max-width: 500px) {
	.phone-text, ul {
		color: $tr-black; 
		font: lighter 13pt $tr-font;
	}

	#page-content { /* div containing everything after the header */
		margin: 0px;
		@extend .phone-text;
	}	
}

.caption {
	color: $tr-grey; 
	font: italic 10pt $tr-font;
}

.footnote {
	color: $tr-black; 
	font: 100 10pt $tr-font;
}

.bordered-table, .bordered-table th, .bordered-table td {
  border: 1px solid #999;
}

.bordered-table {
  border-collapse: collapse;
}

.bordered-table th, .bordered-table td {
  padding: 10px;
}

.alternating-table tr:nth-child(even) {
   background: #CCC; 
}

.alternating-table tr:nth-child(odd) {
   background: #FFF; 
}
