@import url('https://fonts.googleapis.com/css?family=Raleway:100,300');

$tr-fancy-font: 'Raleway', sans-serif;
$tr-font: sans-serif;

$tr-light-grey: #cacaca;
$tr-grey: #828282;

a {
	color: $tr-grey;
}

body {
	margin: 50px;
}

.text {
	color: $tr-grey; 
	font: 12pt $tr-font;
}

.caption {
	color: $tr-grey; 
	font: italic 10pt $tr-font;
}

.footnote {
	color: $tr-grey; 
	font: 100 10pt $tr-font;
}
