@import 'subpage';

.title {
	@extend .hero;
}

.author {
	@extend h2;
}

.date { 
	@extend h3;
}

.readtime {
	@extend h4;
}

.entry {
	@extend .text;
}

p {
	@extend .text;
}

#post-content::first-letter {
	font-size: 230%;
  float: left;
  line-height: 1;
  display: inline-block;
  margin-right: 0.15em;
}
