@import url('https://fonts.googleapis.com/css?family=Raleway:100,300');

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 50px;
}

/* index.html */

#front-name {
	color: #828282; 
	font-weight: 100;
	font-family: 'Raleway', sans-serif; 
	font-size: 30pt;
}

#front-menu-link {
	color: #828282; 
	font-family: sans-serif; 
	font-size: 13pt;
	font-weight: 100;
}

/* sub-pages */

#page-name {
	color: #828282; 
	font-weight: 100;
	font-family: 'Raleway', sans-serif; 
	font-size:24pt;
}

#page-content { /* div containing everything after the header */
	margin: 100px;
}

/* products.html */

.list-item span { /* product name */
	color: #828282; 
	font-weight: 300;
	font-family: 'Raleway', sans-serif; 
	font-size: 18pt;
}

.list-item a { /* link to product's home page */
	color: #cacaca; 
	font-weight: 100;
	font-family: sans-serif; 
	font-size: 14pt;
}

.list-item p { /* description of product */
	color: #828282; 
	font-family: sans-serif; 
	font-size: 12pt;
}


