@import url('https://fonts.googleapis.com/css?family=Raleway:100,300');

$tr-fancy-font: 'Raleway', sans-serif;
$tr-font: sans-serif;

$tr-light-grey: #cacaca;
$tr-grey: #828282;

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 50px;
}

/* index.html */

#front-name {
	color: $tr-grey;
	font: 100 30pt $tr-fancy-font;
}

#front-menu-link {
	color: $tr-grey;
	font: 100 13pt $tr-font;
}

/* sub-pages */

#page-name {
	color: $tr-grey;
	font: 100 24pt $tr-fancy-font;
}

#page-content { /* div containing everything after the header */
	margin: 100px;
}

/* products.html */

.list-item span { /* product name */
	color: $tr-grey; 
	font: 300 18pt $tr-fancy-font;
}

.list-item a { /* link to product's home page */
	color: $tr-light-grey; 
	font: 100 14pt $tr-font;
}

.list-item p { /* description of product */
	color: $tr-grey; 
	font: 12pt $tr-font;
}
