---

---
{% include opening-tags.html title="Two % Ring % Software" stylesheet="css/index.css" description="Home page for Two Ring Software." other_meta_tags="google-site-verification::a0ihSQSMU__BRdi5U-tbXaZ928TZBY_8VECO17GwpGE" %}
		<center>
			<span id="front-name">Two Ring Software</span>
			<br />
			<br />
			<img src="/img/logo.png" width="200px" />
			<br />
			<br />
			<a href="about/">About</a> <a href="blog/">Blog</a> <a href="contracts/">Contracts</a> <a href="products/">Products</a> <a href="vision/">Vision</a>
			<br />
			<br />
			<br />
			<a href="https://twitter.com/tworingsoft" style="text-decoration:none;" target="_blank">
				<img srcset="
					img/Twitter.png 1x,
					img/Twitter@2x.png 2x
				" alt="Two Ring Software's Twitter Profile" />
			</a>
			&nbsp;
			<a href="https://www.facebook.com/tworingsoft" style="text-decoration:none;" target="_blank">
				<img srcset="
					img/Facebook.png 1x,
					img/Facebook@2x.png 2x
				" alt="Two Ring Software's Facebook Page" />
			</a>
			&nbsp;
			<a href="https://www.linkedin.com/company/11026810" style="text-decoration:none;" target="_blank">
				<img srcset="
					img/Linkedin.png 1x,
					img/Linkedin@2x.png 2x
				" alt="Two Ring Software's LinkedIn Page" />
			</a>
			&nbsp;
			<a href="http://tworingsoft.com/feed.xml" style="text-decoration:none;">
				<img srcset="
					img/RSS.png 1x,
					img/RSS@2x.png 2x
				" alt="Two Ring Software's RSS Feed" />
			</a>
		</center>
{% include closing-tags.html %}
