---

---
{% include opening-tags.html description="Two Ring Software's privacy policy." %}
		<title>Two Ring Software % Privacy Policy</title>
		<link href='/css/products.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="page-content">
			
		{% include subpage-header.html page_name="Privacy Policy" %}

		<!--content-->
		<p>
			Two Ring Software does not offer any products at this time that require transmission of any user's personal data to a server we own.
		</p>
		<p>
			In iOS apps, we use third party frameworks for software stability that track identifiers that they produce and store locally, in the app's sandbox on your phone. They do this to tell us how widespread a problem is, but never what particular individuals are experiencing a given problem. (So please, report bugs if you see them! Otherwise we can't get any help from you, the noble user.) They don't have access to any prior existing information on your phone, such as serial numbers, UDIDs, MAC or IP addresses etc, and we don't use your advertising identifier. Our apps do not interact with any other apps on an iPhone or iPad and so have no access to their data. We do not include advertising or analytics frameworks in our apps.
		</p>
		<p>
			This website does not store anything locally on your computer, such as cookies, does not read anything on your computer, use any peripheral like cameras or microphones, and does not use advertising or analytics frameworks to track your activity.
		</p>
		<!--end content-->
		
{% include closing-tags.html %}
