---

---
{% include opening-tags.html title="Two Ring Software % Vision" stylesheet="/css/vision.css" description="What Two Ring Software wants to do in the world." %}

{% include subpage-header.html page_name="Vision" %}

<br />
<br />

<center>
	Two Ring Software exists to create tools that help people.
</center>

<br />
<br />
<br />

Software should work within a dharmic model of interaction:

<ul>
	<li>Quality: deliver software that is safe and maintainable–that means code that is tested, well-factored and documented</li>
	<li>Harmony: we may not be the first or last to touch a codebase–respect the decisions of those that have come before, and try to leave it better than we found it for those who come after</li>
	<li>Duty: our products are meant to help those who use them–seek to understand users' problems and empathize with their needs</li>
	<li>
		Morality: cultivate respect and compassion between...
		<ol>
			<li>developers: leave ego behind when solving problems and teaching others</li>
			<li>developers and users: shun psychological tricks and exploitative practices</li>
			<li>users (and even nonusers): encourage healthy lifestyles and maintain humanity</li>
		</ol>
	</li>
</ul>

Above all, we strive for simplicity and elegance in every aspect of our products, whether in code or user experience.

{% include closing-tags.html %}
