{% include opening-tags.html %}
		<title>Two Ring Software % Blog % {{ page.title }} % {{ page.date | date: '%-d %B %Y'}}</title>
		<meta name="description" content="{{ page.abstract }}" />

		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:description" content="{{ page.abstract }}" />
		{% if page.thumbnail != undefined %}
		<meta property="og:image" content="/blog/img/{{ page.thumbnail }}" />
		{% else %}
		<meta property="og:image" content="/img/logo-small.jpg" />
		{% endif %}

		<link href='/css/blog.css' rel='stylesheet' type='text/css'>
	</head>
	<body>

		{% include subpage-header.html page_name="Blog" link="/blog/" %}

		<div id="page-content">

			<p>
				<span class="title">{{ page.title }}</span>
				<br />
				<span class="date">{{ page.date | date: '%-d %B %Y'}}</span>
			</p>