{% assign date = page.date | date: '%-d %B %Y' %}
{% assign postTitle="Two Ring Software % Blog % " | append: page.title | append: " % " | append: date %}

{% if page.thumbnail != undefined %}
	{% assign og_image_tag = "og:image::/blog/img/" | append: page.thumbnail %}
	{% assign twitter_image_tag = "twitter:image::/blog/img/" | append: page.thumbnail %}
{% else %}
	{% assign og_image_tag = "og:image::/img/logo-small.jpg" %}
	{% assign twitter_image_tag = "twitter:image::/img/logo-small.jpg" %}
{% endif %}
{% assign meta_tags = og_image_tag | append: ',' | append: twitter_image_tag %}

{% include opening-tags.html title=postTitle description=page.abstract stylesheet = "/css/blog-post.css" other_meta_tags=meta_tags %}
		
		<h2>
			<a href="/" style="text-decoration: none;">
				<img src="/img/logo-small.png" height="25em" />
			</a>
			<a href="/blog/" style="text-decoration: none;">Blog</a>
		</h2>
		
		<div class="title">{{ page.title }}</div>
		<div class="byline">{{ page.author }} – {{ page.date | date: '%-d %B %Y'}}</div>
		
		<hr />
					