{% include opening-tags.html %}
		<title>Two Ring Software % Blog % {{ page.title }} % {{ page.date | date: '%-d %B %Y'}}</title>
		<meta name="description" content="{{ page.abstract }}" />

		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:description" content="{{ page.abstract }}" />
		
		<meta property="twitter:title" content="{{ page.title }}" />
		<meta property="twitter:description" content="{{ page.abstract }}" />
		
		{% if page.thumbnail != undefined %}
			<meta property="og:image" content="/blog/img/{{ page.thumbnail }}" />
			<meta name="twitter:image" content="/blog/img/{{ page.thumbnail }}" />
		{% else %}
			<meta property="og:image" content="/img/logo-small.jpg" />
			<meta name="twitter:image" content="/img/logo-small.jpg" />
		{% endif %}

		<link href='/css/blog-post.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		
		<h2>
			<a href="/" style="text-decoration: none;">
				<img src="/img/logo-small.png" height="25em" />
			</a>
			<a href="/blog/" style="text-decoration: none;">Blog</a>
		</h2>

		<div id="page-content">
			
						<div class="title">{{ page.title }}</div>
						<div>
							<span class="date">{{ page.date | date: '%-d %B %Y'}} ・ </span>
							<span class="readtime">{{ page.content.size | readtime }} minute read</span>
						</div>