	<br />
	<br />
	<br />

	{% assign first_post = true %}
	{% assign older_post_idx = 0 %}
	{% for post in include.posts %}
		{% if first_post %}
			{% assign first_post = false %}
			<div class="firstpost">
				<center>
					<div class="title">
						Latest: <a href="{{ post.url }}"><span class="title">{{ post.title }}</span></a>
					</div>
					<span class="author">{{ post.author }}</span>
					<span class="date"> ・ </span>
					<span class="date">{{ post.date | date: '%-d %B %Y'}}</span>
					<span class="date"> ・ </span>
					<span class="readtime">{{ post.content.size | readtime }} minute read</span>
					<div class="abstract">
						{{ post.abstract }}
					</div>
				</center>
			</div>
			<br />
			<br />
			<table width="100%">
				<tr>
					<td class="title">
						Previously
					</td>
					<td width="150px" class="readtime" rowspan="2" valign="top" style="padding: 0px 20px 0px 20px; border: 2px black;">
						<div class="title" style="margin-top: 20px;">
							Tags
						</div>
						<br />
						<div id="tag_cloud">
							{{ site | tag_cloud }}
						</div>
					</td>
				</tr>
				<tr>
				<td valign="top">
					<br />
		{% else %}
					<a href="{{ post.url }}"><span class="author">{{ post.title }}</span></a><span class="date"> ・ {{ post.date | date: '%-d %B %Y' }}</span>
					<br />
					{{ post.abstract }}
					<br />
					<br />
			{% if older_post_idx < 2 %}
				{% assign older_post_idx = older_post_idx | plus: 1 %}
			{% else %}
				{% assign older_post_idx = 0 %}
			{% endif %}
		{% endif %}
	{% endfor %}
				</td>
			</tr>
		</table>