---

---
{% include opening-tags.html title="Two Ring Software % About" stylesheet="/css/about.css" description="About Two Ring Software." %}

{% include subpage-header.html page_name="About" %}

<br />
<br />
<br />

<center>
Two Ring Software is:

<br />
<br />

<table>
	<tr>
		<td>
			<img src="https://www.gravatar.com/avatar/e5545e2401a5ffd435898f9403110954" />
		</td>
		<td>
			<a href="http://armcknight.com">Andrew McKnight</a>
		</td>
	</tr>
</table>

<br />

Formed in July 2017, it is headquartered in Virginia, his home state, although he tends to roam around the globe. (He's gotten pretty good at time zones.)

</center>

{% include closing-tags.html %}
