---

---
{% include opening-tags.html %}
		<title>Two Ring Software % Products</title>
		<link href='/css/products.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<a href="/"><img src="/img/logo-small.jpg" width="35px" /></a>
		&nbsp;
		<span class="page-name">Products</span>
		
		<div id="page-content">
			
			{% for product in site.products %}
				
			<div class="list-item">
				<span>{{ product.name }}</span> <a href="{{ product.website }}">{{ product.website-name }}</a>
				<p >
					{{ product.description }}
				</p>
			</div>
			
			{% endfor %}
{% include closing-tags.html %}
