---

---
{% include opening-tags.html description="Two Ring Software's product offerings." %}
		<title>Two Ring Software % Products</title>
		<link href='/css/products.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="page-content">
			
		{% include subpage-header.html page_name="Products" %}

		<span class="list">Apps</span>

		<br /><br />

			{% for app in site.apps %}

			<table border="0" cellpadding="10">
				<tr>
					<td>
						<img src="/img/{{ app.image }}" width="100px" class="rounded-bordered" />
					</td>
					<td>
						<div class="list-item">
							<span>{{ app.name }}</span> 
							&nbsp;&nbsp;&nbsp;
							<a href="{{ app.app-store-url }}">
								<img src="/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="90px">
							</a>

							<p >
								{{ app.description }}
							</p>
						</div>
					</td>
				</tr>
			</table>

			{% endfor %}

		<br /><br />

		<span class="list">Dev Tools</span>

		<br /><br />

			{% for devtool in site.devtools %}

			<div class="list-item">
				<span>{{ devtool.name }}</span> <a href="{{ devtool.website }}">{{ devtool.website-name }}</a>
				{% if devtool.build-badge != undefined %}
					<a href="{{ devtool.build-badge-link }}"><img src="{{ devtool.build-badge }}" /></a>
				{% endif %}
				<p >
					{{ devtool.description }}
				</p>
			</div>

			{% endfor %}
{% include closing-tags.html %}
