---

---
{% include opening-tags.html title="Two Ring Software % Contracts" stylesheet="/css/contracts.css" description="Information for potential clients who would like to work with Two Ring Software." %}

{% include subpage-header.html page_name="Contracts" %}

	<br />
	<br />
	<br />
	
	Two Ring Software offers two decades of programming experience, spanning:
	
	<br />
	<br />
	
	<ul>
		<li>iPhone, Watch and TV apps and SDKs</li>
		<li>fullstack deployment with JS/PHP/Ruby/Python</li>
		<li>backend orchestration on Heroku and AWS</li>
		<li>scientific applications of Boost/CGAL/Matlab</li>
	</ul>

	Reach out today to get started on your project!

	<br />
	<br />
	<br />
	
	<center>
		<a href="mailto:andrew@tworingsoft.com">andrew@tworingsoft.com</a>
		<br />
		(434) 879-6103
	</center>

	<br />
	<br />
	<br />

	For a complete list of prior work, please see my <a href="resume.pdf">résumé (PDF)</a>.

	<br />
	<br />
	<br />

	{% for client in site.clients %}
		<blockquote>{{ client.testimonial }}
			<cite>{{ client.supervisor }}, {{ client.name }}</cite>
		</blockquote>
	{% endfor %}

{% include closing-tags.html %}
