---

---
{% include opening-tags.html title="Two Ring Software % Contracts" stylesheet="/css/contracts.css" description="Information for potential clients who would like to work with Two Ring Software." %}

{% include subpage-header.html page_name="Contracts" %}

	<br />
	<br />
	<br />
	
	Two Ring Software specializes in iOS application and SDK development.
	
	<br />
	<br />
	
	Other services include: 
	<ul>
		<li>web frontends in HTML/CSS/JS/PHP</li>
		<li>backends in Ruby/Java/C++</li>
		<li>backend orchestration in AWS/Heroku</li>
		<li>specialized numerical and scientific applications using e.g. Boost/CGAL/Matlab</li>
	</ul>

	Reach out today to get started on your project!

	<br />
	<br />
	<br />
	
	<center>
		<a href="mailto:andrew@tworingsoft.com">andrew@tworingsoft.com</a>
		<br />
		(434) 879-6103
	</center>

	<br />
	<br />
	<br />

	For a complete list of prior work, please see my <a href="https://www.dropbox.com/s/tdub4xxjvrldt7f/resume.pdf?dl=0">résumé</a>.

	<br />
	<br />
	<br />

	{% for client in site.clients %}
		<blockquote>{{ client.testimonial }}
			<cite>{{ client.supervisor }}, {{ client.name }}</cite>
		</blockquote>
	{% endfor %}

{% include closing-tags.html %}
